@import "compass/reset";
$colored-background-color: #6BB;
$light-background-color: #FFF;
$border-color: #000;

$padding-normal: 12px;
$padding-large: 22px;

$field-padding: 3px;

$font-large: 30px;
$font-normal: 18px;
$font-small: 14px;
$font-micro: 12px;

$borderNormal: 1.5px solid $border-color;
$borderFat: 3px solid $border-color;
